<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/headb')  %> 

<body>

    <%- include('../partials/header') %> 
     
    <main>
        <div class="detalle-producto">
            <div class="imagenes">
                <section class="imagen-principal">
                    <img src="/images/<%= product.image %>" alt="">
                </section>
                <section class="imagen-secundaria">
                    <img src="/images/arnes-fuccia.jpg" alt="">
                    <img src="/images/arnes-lila.jpg" alt="">
                    <img src="/images/arnes-negro.jpg" alt="">
                </section>
            </div>
            <div class="contenido-text">
                <section class="detalles">
                    <div>
                        <h2><%= product.name %></h2>
                    </div>
                    <br>
                    <p>Tamaño: Baby 1</p>
                    <p>Color: Verde Manzana</p>
                    <p></p>
                    <p>Cantidad: 1</p>
                    <p>Costo: $<%= product.price %></p>
                    <p>DESCRIPCIÓN:<%= product.description %></p> 
                    
                    <div class="añadir-carrito">
                            <button>Agregar al carrito</button>
                            <a href="/productos/edit/<%= product.id %>"><button>Editar Producto</button></a>
                            <form action="/productos/<%= product.id %>?_method=DELETE" method="POST">
                                <button type="submit">Eliminar</button>
                            </form>
                    </div>
                </section>
            </div>
        </div>
        <div>
            <section class="producto-recomendados">
                <h3 class="product-title">Productos Recomendados</h3>
                <div class="listado-products-rec">
                    <article class="producto-rec">
                        <div class="imagen-producto-rec">
                            <img width="100%" src="/images/pelotas-de-soga.jpg" alt="Cuerdas de juegos">
                        </div>                   
                        <div class="detalles-producto">
                            <div class="producto-favorito">
                                <h4 class="name-product">Nudos para jugar</h4>
                                <i class="fa-solid fa-heart"></i>
                            </div>
                            <div class="text-detalle">
                                <p>$4.500</p>
                                <p>Pelota realizada con sogas anudadas que además de servir para que el perro de divierta ayuda a la limpieza dental.</p>
                            </div>
                        </div>
                    </article>
                    <article class="producto-rec">
                        <div class="imagen-producto-rec">
                            <img width="100%" src="/images/camas.jpg" alt="Colchón Liso">
                        </div>
                        <div class="detalles-producto">
                            <div class="producto-favorito">
                                <h4 class="name-product">Colchón Liso</h4>
                                <i class="fa-solid fa-heart"></i>
                            </div>
                            <div class="text-detalle">
                                <p>$1.550</p>
                                <p>Colchón liso forrado en tela de avión, rellenos con guata y copo.</p>
                            </div>
                            
                        </div>
                    </article>
                    <article class="producto-rec">
                        <div class="imagen-producto-rec">
                            <img width="100%" src="/images/plato-plegable-silicona.jpg" alt="Platos de mascotas">
                        </div>                    
                        <div class="detalles-producto">
                            <div class="producto-favorito">
                                <h4 class="name-product">Plato Plegable de Siicona</h4>
                                <i class="fa-solid fa-heart"></i>
                            </div>
                            <div class="text-detalle">
                                <p>$460</p>
                                <p>Práctico comedero/bebedero para llevar en tus paseos o viajes con tu mascota. Es de silicona, se puede plegar para que sea de fácil traslado. Incluye mosquetón para enganchar en la correa, collar, en tu mochila o donde prefieras.</p>
                            </div>
                            
                        </div>
                    </article>
                    <article class="producto-rec">
                        <div class="imagen-producto-rec">
                            <img width="100%" src="/images/img8.jpg" alt="Collares">
                        </div>                   
                        <div class="detalles-producto">
                            <div class="producto-favorito">
                                <h4 class="name-product">Collar con pañuelo</h4>
                                <i class="fa-solid fa-heart"></i>
                            </div>
                            <div class="text-detalle">
                                <p>$460</p>
                                <p>Collares para perros realizados en ecocuero. Este modelo, en la cara exterior del collar posee un pañuelo que le otorga un toque de distinción y belleza a la mascota.Fácil de limpiar Venta mayorista. Modelos y colores variados.<p>
                            </div>
                        </div>
                    </article>
                </div>
                
            </section>
        </div>
    </main>
    <%- include('../partials/footer')  %> 
    <%- include('../partials/scripts')  %>
</body>
</html>