<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/headb')  %> 

<body>
    
    <%- include('../partials/header') %> 


    <section class="register">
        <h3>Crear cuenta</h3>
        <form action="/usuarios/registro" methodpost="post" class="register" enctype="multipart/form-data">

            <div class="input-avatarcontainer">
                <label for="avatar" class="avatar__image"><h4> <i class="fa-solid fa-user"></i></h4></label>
                <input type="file" name="avatar" class="form__image" placeholder="Seleccione un archivo" id="image">
            </div>

            <div class="input-container">
                <label for="name"><h2>Nombre y Apellido</h2></label>
                <input type="text" name="name" class="input-style" placeholder="Ej: Juan" id="nombre" required>
                <% if (locals.errors && errors.name) { %>
                    <small class="imput-style"><%= errors.name.msg %></small>
                <% } %>
            </div>


            <div class="input-container">
                <label for="email"><h2>E-mail</h2></label>
                <input type="text" name="email" class="input-style" placeholder="Ingrese su E-mail" id="mail" required>
                <% if (locals.errors && errors.email) { %>
                    <small class="imput-style"><%= errors.email.msg %></small>
                <% } %>
            </div>


            <div class="input-container">
                <label for="telefono"><h2>Teléfono (Opcional)</h2></label>
                <input type="tel" name="phone"class="input-style" placeholder="Ingrese su numero de Teléfono" id="telefono" >
                <% if (locals.errors && errors.phone) { %>
                    <small class="imput-style"><%= errors.phone.msg %></small>
                <% } %>
            </div>

            <div class="input-container">
                <label for="password"><h2>Contraseña</h2></label>
                <input type="password" name="password" class="input-style" placeholder="Ingrese su contraseña" id="pass" required>
                <% if (locals.errors && errors.password) { %>
                     <small class="imput-style"><%= errors.password.msg %></small>
                <% } %>
            </div>

            <div class="input-container">
                <label for="password2"><h2>Re-ingrese su Contraseña</h2></label>
                <input type="password" name="password2" class="input-style" placeholder="Re-ingrese su contraseña" id="repass" required>
                <% if (locals.errors && errors.password2) { %>
                    <small class="imput-style"><%= errors.password2.msg %></small>
                <% } %>
            </div>


            <div class="input_check-container">
                <label for="recordar">Acepto los <a href="">Terminos y condiciones</a></label>
                <input type="checkbox" name="terms" id="recordar" required>
                <% if (locals.errors && errors.terms) { %>
                    <small class="text-danger"><%= errors.terms.msg %></small>
                <% } %>
            </div>
            <div class="btn-container">
                <button class="submit" type="reset">Limpiar</button>
                <button class="submit" type="submit">Registrarme</button>
            </div> 
            
        </form>
    </section>

    <%- include('../partials/footer')  %>   
    <%- include('../partials/scripts')  %>
</body>
</html>